/*
----------------------------------------
animación del logo
----------------------------------------
*/
.logoMueve {
    transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -ms-transition: all 0.5s; 
    -o-transition: all 0.5s;
    &:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
            }
           }
/*
----------------------------------------
END - animación del logo
----------------------------------------
*/