/*
----------------------------------------
Estilos y Reglas para los dispositivos
----------------------------------------
*/

/*
----------------------------------------
Mobile
----------------------------------------
*/

@media only screen and (max-width: $med * 2)                       {
  body {
      background-color: #898989;
      }
                          }

/*
----------------------------------------
Tablet
----------------------------------------
*/

@media only screen and (min-width: $max + 1) and (max-width: $smax / 2) {
  body {
      background-color: #777777
      }
                          }

/*
----------------------------------------
Desktop
----------------------------------------
*/

@media only screen and (min-width: $smax / 2 + 2 - 1)                      {
  body {
      background-color: #808080;
      }
                                                                  }



/*
--------------------------------------------
END - Estilos y Reglas para los dispositivos
--------------------------------------------
*/