//VARIABLES

// BACKGROUND-COLOR
$bg-color: linear-gradient(rgb(101, 101, 101), rgb(60, 60, 60));

// LINK-COLOR

$l-color:  rgb(255, 255, 255);

// LINK-COLOR-HOVER

$lh-color:  black;

// LINK-COLOR-HOVER2

$lh2-color:  green;

// LINK-FONT-SIZE-ARROW

$fF-size:  3rem;

// LINK-FONT-SIZE-ICON

$fI-size:  10rem;

// MEDIA-SIZE

$min: 100px;
$med: 200px;
$max: 400px;
$smax: 1920px;